body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
}

.container {
    text-align: center;
}

#clock {
    margin-top: 20px;
    font-size: 50px;
}


